---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.order.valueOf() - b.data.order.valueOf(),
);

const products = (await getCollection("productos")).sort(
	(a, b) => a.data.order.valueOf() - b.data.order.valueOf(),
);

const currentYear = new Date().getFullYear();

import { DIRECCION, WHATSAPP } from "../consts";
import Icon from "./shared/Icon.astro";

const contactData = {
	whatsapp: WHATSAPP,
	location: DIRECCION,
	socialMedia: [
		{
			platform: "Facebook",
			url: "https://www.facebook.com/RaizVivaperu/",
			icon: "/images/icons/facebook.svg",
		},
	],
};
---

<footer class="footer-section">
	<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
		<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
			<!-- Logo Section -->
			<div>
				<div class="rounded-lg pb-8">
					<a href="/" class="logo-container block w-auto h-auto relative ">
						
						<img
							src="/images/logo/logo-raiz-viva.svg"
							alt="Raíz Viva"
							class="logo-image w-[220px] sm:w-[280px] md:w-[300px] lg:w-[320px] transition-all duration-300 relative z-10"
							height="auto"
						/>
					</a>
				</div>
			</div>

			<!-- Blog Section -->
			<div class="sm:mx-auto lg:mx-0">
				<h2 class="mb-2 font-semibold text-rv-very-light uppercase">Blog</h2>
				<ul class="flex flex-col space-y-2 font-medium">
					{
						posts.map((post) => (
							<li>
								<a
									href={`/blog/${post.id}`}
									class="text-rv-very-light hover:text-rv-light transition-colors duration-200"
								>
									{post.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<!-- Products Section -->
			<div class="sm:mx-auto lg:mx-0">
				<h2 class="mb-2 font-semibold text-rv-very-light uppercase">
					Productos
				</h2>
				<ul class="flex flex-col space-y-2 font-medium">
					{
						products.map((product) => (
							<li>
								<a
									href={`/productos/${product.id}`}
									class="text-rv-very-light  hover:text-rv-light transition-colors duration-200"
								>
									{product.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<!-- Contact Section -->
			<div class="sm:mx-auto lg:mx-0">
				<h2 class="mb-2 font-semibold text-rv-very-light uppercase">
					Contáctanos
				</h2>
				<ul class="flex flex-col space-y-4 font-medium">
					<!-- WhatsApp -->
					<li>
						<a
							href={`https://wa.me/${contactData.whatsapp}`}
							target="_blank"
							class="flex items-center space-x-2 text-rv-very-light hover:text-rv-light transition-colors duration-200 group"
						>
							<span
								class="bg-white p-1 rounded-lg flex items-center justify-center transition-transform duration-300 group-hover:-translate-y-1"
							>
								<Icon
									name="whatsapp"
									class="text-green-500"
									size={20}
								/>
							</span>
							<span class="">{contactData.whatsapp}</span>
						</a>
					</li>

					<!-- Location -->
					<li>
						<a
							href={`https://maps.app.goo.gl/ACwYgddBpWE7Bq2b8`}
							target="_blank"
							class="flex items-center space-x-2 text-rv-very-light hover:text-rv-light transition-colors duration-200 group"
						>
							<span
								class="bg-white p-1 rounded-lg flex items-center justify-center transition-transform duration-300 group-hover:-translate-y-1"
							>
								<Icon
									name="location"
									class="text-red-500 mt-0.5 flex-shrink-0"
									size={20}
								/>
							</span>
							<span class="leading-relaxed">
								{contactData.location}
							</span>
						</a>
					</li>

					<!-- Social Media -->
					{
						contactData.socialMedia.map((social) => (
							<li>
								<a
									href={social.url}
									target="_blank"
									class="flex items-center space-x-2 text-rv-very-light hover:text-rv-light transition-colors duration-200 group"
								>
									<span class="bg-white p-1 rounded-lg flex items-center justify-center transition-transform duration-300 group-hover:-translate-y-1">
										<Icon
											name="facebook"
											class="text-blue-500 mt-0.5 flex-shrink-0"
											size={20}
										/>
									</span>
									<span class="">{social.platform}</span>
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>

	<!-- Divider -->
	<hr class="my-6 border-rv-cta mx-auto w-full max-w-screen-xl" />

	<!-- Footer Bottom -->
	<div class="mx-auto w-full max-w-screen-xl px-4">
		<div
			class="flex flex-col lg:flex-row items-center justify-between text-center lg:text-left"
		>
			<span class="text-sm text-rv-very-light">
				© {currentYear}
				<a
					href="/"
					class="text-rv-very-light font-bold hover:text-white transition-colors duration-200 ml-1"
				>
					RaizViva
				</a>. Todos los derechos reservados.
			</span>
			<div class="mt-4 lg:mt-0">
				
			</div>
		</div>
	</div>
</footer>

<style>
	.footer-section {
		background: var(--rv-accent);
	}

	.logo {
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	.logo-image {
		filter: brightness(0) invert(1);
	} 

	.logo-image:hover{
		transform:scale(1.1);
		transition: transform 0.3s ease-in-out;
	}
</style>
